<footer>
    <div id="footer-content">
      <p>&copy; 2023 Iago Lozano Botteon. All Rights Reserved.</p>
      <ul class="social-media">
        <li><a href="https://www.facebook.com/iago.botteon/">Facebook</a></li>
        <li><a href="https://www.linkedin.com/in/iago-lozano-botteon-a0b851b9/">LinkedIn</a></li>
      </ul>
    </div>
  </footer>