<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
</head>
<body>
<div style="width:980px; margin-left:auto; margin-right:auto;">
  <link rel="stylesheet" type="text/css" href="/css/style.css">

  <div class="header">
    <nav>
          <ul class="navigation">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </div>
</body>
</html>

<!-- <div class="logoImg">
        <a href="/"> <img src="/images/logo.png" alt="MyLogo"></a>
        </div> -->