
<h3>Home</h3>

<div class="home-container">
    <h3>Welcome to My Portfolio</h3>
    <h3>Mission Statement</h3>
    <p>I inspire and be inspired, constantly seeking authenticity, personal growth and connection with others. I believe that life is a journey of continuous learning, and my purpose is to make the most of that journey, sharing knowledge, companionship and positivity as always as possible.
      I seek to constantly challenge myself to evolve, develop my skills and expand my horizons.</p>

    <a href="/about" class="btn btn-primary">Learn About Me</a>
  </div>
  