<%- include('partials/header') %>

<h3>About Me</h3>

<div id="selfImg"> 
<img src="/images/self.png" alt="self">
</div>

<div class="aboutME">
  <p>My name is Iago, I'm from Brazil</p>
  <p>I like playing sports, including electronic games.</p>
  <p>I am studying SW Eng at College Centenial</p>
  <p><a href="/resume.pdf" target="_blank">Access my Resume (PDF)</a></p>

</div>