<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Your Portfolio - Home</title>
</head>
<body>
  <!-- Include the header partial -->
  <%- include('./partials/header.ejs') %>

  <!-- Include the content partial with page-specific content -->
  <%- include('./partials/home-content.ejs', { pageSpecificContent: 'partials/home-content' }) %>

  <!-- Include the footer partial -->
  <%- include('./partials/footer') %>
</body>
</html>
