<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Your Portfolio - Home</title>
</head>
<body>

  <%- include('./partials/header.ejs') %>


  <%- include('./partials/home-content.ejs', { pageSpecificContent: 'partials/home-content' }) %>


  <%- include('./partials/footer') %>
</body>
</html>
