
<%- include('partials/header') %>
<h3>Projects</h3>

<div class="container">
  <div class="project">
    <img src="/images/project1.jpg" alt="Project 1">
    <h2>Project 1 Game Map</h2>
    <p><strong>My Role:</strong> Responsible to edit the game map</p>
    <p><strong>Outcome:</strong> Created new map evironment.</p>
  </div>

  <div class="project">
    <img src="/images/project2.jpg" alt="Project 2">
    <h2>Project 2 Tester</h2>
    <p><strong>My Role:</strong> Ready the product specification and create tests to cover the features.</p>
    <p><strong>Outcome:</strong> Our diligent testing efforts led to the identification and resolution of critical issues, ensuring the product's reliability and performance.</p>
  </div>
  
</div>