
#selfImg {
  margin: 1px;
  top: 10px;
}

#aboutME {
  width: 1000px; 
  margin: 10px; 
  margin-right: 100px;
  left: 20px;
  
}

.navigation {
  list-style: none;
  padding: 0;
  margin: 1;
  font-size: 25px;
  font-weight: bold;
}
.home-container{
  list-style: none; 
  padding: 0;
  margin: 1;
  font-size: 25px;
  margin-right: 10px;
}

#footer-content{
  position: relative; 
  top: 100px;
}

.navigation li {
  display: inline;
  margin-right: 10px; 
  background-color: rgb(6, 115, 241); 
  color: white; 
  padding: 5px; 
  margin: 5px; 
  border-radius: 5px; 
}


.navigation li a {
  text-decoration: none; 
  color: #333;
}

.header {
  text-align: center; 
}
